.leaflet-container {
  height: calc(100vh - 75px);
  min-height: 400px;
  width: 100%;
  min-width: 400px;
}

.goback-details_button {
  position: absolute;
  left: 30px;
  top: 110px;
  z-index: 20000;
}

.leaflet-popup .leaflet-popup-tip-container {
  margin-left: -7px;
}