.earthquake-list__wrapper {
    padding: 16px;
    max-height: calc(100vh - 185px);
    overflow-y: hidden;
}

.table {
    width: 100%;
}

.table-header {
    width: 100%;
    height: 24px;
    border-bottom: 1px solid #b8c1ec;
}

.table-row {
    height: 24px;
}

.cell, .header-cell {
    text-align: left;
    text-overflow: ellipsis;
    float: left;
    padding-right: 1px;
}

.code-cell {
    width: 10%;
}
.place-cell {
    width: 40%;
}
.coords-cell {
    width: 20%;
}
.date-cell {
    width: 15%;
}
.actions-cell {
    width: 9%;
}

a {
    color: #eebbc3;
}